[user]
	name = DJ Enriquez
	email = denrie.enriquezjr@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
